<div class="product-container">
  <div class="container">
    <div class="product-main">
      <h2 class="title">New Products</h2>
      <div class="product-box">
        <div class="product-grid">
          <ng-container *ngFor="let product of products">
            <div class="showcase">
              <div class="showcase-banner">
                <ng-container *ngFor="let image of product.imageUrls; let i = index">
                  <img
                    [src]="image"
                    [ngClass]="i === 0 ? 'product-img default' : 'product-img hover'"
                    alt="{{ product.name }}"
                    (click)="navigateToProduct(product.id)"
                    >
                </ng-container>
                <p class="showcase-badge" *ngIf="product.discountPercentage">
                  {{ product.discountPercentage }}%
                </p>
                <div class="showcase-actions">
                  <button class="btn-action">
                    <ion-icon name="heart-outline"></ion-icon>
                  </button>
                  <button class="btn-action">
                    <ion-icon name="eye-outline"></ion-icon>
                  </button>
                  <button class="btn-action">
                    <ion-icon name="repeat-outline"></ion-icon>
                  </button>
                  <button class="btn-action">
                    <ion-icon name="bag-add-outline"></ion-icon>
                  </button>
                </div>
              </div>
              <div class="showcase-content">
                <a href="#" class="showcase-category">{{ product.categoryName }}</a>
                <a href="#">
                  <h3 class="showcase-title">{{ product.name }}</h3>
                  <!-- <a class="showcase-title">{{ product.name }}</a> -->
                </a>
                <div class="showcase-rating" *ngIf="product.rating !== null && product.rating !== undefined; else notRated">
                  <ng-container *ngFor="let star of [1, 2, 3, 4, 5]">
                    <ion-icon [name]="star <= product.rating ? 'star' : 'star-outline'"></ion-icon>
                  </ng-container>
                </div>
                <ng-template #notRated>
                  <div class="showcase-rating">Not rated yet</div>
                </ng-template>
                <div class="price-box">
                  <p class="price">
                    ${{ product.discountPercentage ?
                      (product.price * (1 - product.discountPercentage / 100)).toFixed(2) :
                      product.price.toFixed(2) }}
                  </p>
                  <del *ngIf="product.discountPercentage">${{ product.price.toFixed(2) }}</del>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
