
<div style="width: 82%; margin: 0 auto;">

  <div class="product-featured">

    <h2 class="title">Deal of the day</h2>

    <div class="showcase-wrapper has-scrollbar">

      <div class="showcase-container">

        <div class="showcase">

          <div class="showcase-banner">
            <img [src]="product1.imageUrls[0]" alt="shampoo, conditioner & facewash packs" class="showcase-img">
          </div>

          <div class="showcase-content">

            <div class="showcase-rating">
              <ion-icon name="star-outline"></ion-icon>
              <ion-icon name="star-outline"></ion-icon>
              <ion-icon name="star-outline"></ion-icon>
              <ion-icon name="star-outline"></ion-icon>
              <ion-icon name="star-outline"></ion-icon>
            </div>

            <a href="#">
              <!-- <h3 class="showcase-title">shampoo, conditioner & facewash packs</h3> -->
              <h3 class="showcase-title">{{product1.name}}</h3>
            </a>

            <!-- <p class="showcase-desc">
              Lorem ipsum dolor sit amet consectetur Lorem ipsum
              dolor dolor sit amet consectetur Lorem ipsum dolor
            </p> -->
            <p class="showcase-desc">
              {{product1.description}}
            </p>

            <div class="price-box">
              <p class="price">$ {{product1.price}}</p>

              <!-- <del>$200.00</del> -->
            </div>

            <button [routerLink]="['/shop/product/details', product1.id]" class="add-cart-btn">show Details</button>

            <div class="showcase-status">
              <div class="wrapper">
                <p>
                  min order: <b>{{product1.minimumOrderQuantity}}</b>
                </p>

                <p>
                  stock: <b>{{product1.stockQuantity}}</b>
                </p>
              </div>

              <div class="showcase-status-bar"></div>
            </div>

            <div class="countdown-box">

              <p class="countdown-desc">
                Hurry Up! Offer ends in:
              </p>

              <div class="countdown">

                <div class="countdown-content">

                  <p class="display-number">360</p>

                  <p class="display-text">Days</p>

                </div>

                <div class="countdown-content">
                  <p class="display-number">24</p>
                  <p class="display-text">Hours</p>
                </div>

                <div class="countdown-content">
                  <p class="display-number">59</p>
                  <p class="display-text">Min</p>
                </div>

                <div class="countdown-content">
                  <p class="display-number">00</p>
                  <p class="display-text">Sec</p>
                </div>

              </div>

            </div>

          </div>

        </div>

      </div>

      <div class="showcase-container">

        <div class="showcase">

          <div class="showcase-banner">
            <img [src]="product2.imageUrls[0]" alt="shampoo, conditioner & facewash packs" class="showcase-img">
          </div>

          <div class="showcase-content">

            <div class="showcase-rating">
              <ion-icon name="star-outline"></ion-icon>
              <ion-icon name="star-outline"></ion-icon>
              <ion-icon name="star-outline"></ion-icon>
              <ion-icon name="star-outline"></ion-icon>
              <ion-icon name="star-outline"></ion-icon>
            </div>

            <a href="#">
              <!-- <h3 class="showcase-title">shampoo, conditioner & facewash packs</h3> -->
              <h3 class="showcase-title">{{product2.name}}</h3>
            </a>

            <!-- <p class="showcase-desc">
              Lorem ipsum dolor sit amet consectetur Lorem ipsum
              dolor dolor sit amet consectetur Lorem ipsum dolor
            </p> -->
            <p class="showcase-desc">
              {{product2.description}}
            </p>

            <div class="price-box">
              <p class="price">$ {{product2.price}}</p>

              <!-- <del>$200.00</del> -->
            </div>

            <button [routerLink]="['/shop/product/details', product2.id]" class="add-cart-btn">show Details</button>

            <div class="showcase-status">
              <div class="wrapper">
                <p>
                  min order: <b>{{product2.minimumOrderQuantity}}</b>
                </p>

                <p>
                  stock: <b>{{product2.stockQuantity}}</b>
                </p>
              </div>

              <div class="showcase-status-bar"></div>
            </div>

            <div class="countdown-box">

              <p class="countdown-desc">
                Hurry Up! Offer ends in:
              </p>

              <div class="countdown">

                <div class="countdown-content">

                  <p class="display-number">360</p>

                  <p class="display-text">Days</p>

                </div>

                <div class="countdown-content">
                  <p class="display-number">24</p>
                  <p class="display-text">Hours</p>
                </div>

                <div class="countdown-content">
                  <p class="display-number">59</p>
                  <p class="display-text">Min</p>
                </div>

                <div class="countdown-content">
                  <p class="display-number">00</p>
                  <p class="display-text">Sec</p>
                </div>

              </div>

            </div>

          </div>

        </div>

      </div>

    </div>

  </div>
</div>

