<div class="container">
  <app-email-input *ngIf="currentStep === 'email'" (otpSent)="onOtpSent($event)"></app-email-input>
  <app-otp-input *ngIf="currentStep === 'otp'" [email]="email" (otpVerified)="onOtpVerified()" (otpExpired)="onOtpExpired()"></app-otp-input>
  <app-reset *ngIf="currentStep === 'reset'" [email]="email" (passwordReset)="onPasswordReset()"></app-reset>
  <div class="success-message" *ngIf="currentStep === 'success'">
    Password reset successfully. You can now login with your new password.
  </div>
</div>
