
<section class="featured-items">
  <h2>Featured Items</h2>
  <div *ngIf="isLoading">Loading products...</div>
  <div *ngIf="error">{{ error }}</div>
  <div *ngIf="!isLoading && !error">
    <div *ngIf="products.length > 0" class="items-grid">
      <div class="item-card" *ngFor="let product of products">
        <img [src]="getImageUrl(product)" [alt]="product.name" />
        <a [routerLink]="['/shop/product/details', product.id]" class="item-name"> {{ product.name }}</a>
        <p class="item-price">{{ product.price | currency }}</p>
      </div>
    </div>
    <div *ngIf="products.length === 0">No products available.</div>
  </div>
</section>
